# Ignora tudo para não ter que upar os arquivos binários
*

# Não ignora qualquer arquivo com extensão
!*.*

# Não ignora qualquer diretório
!*/

# Ignora configurações de ide
.vscode

# ignora arquivo exe
*.exe